*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'jacob';
    src: url(/Jacob\ and\ son.ttf);
}
@font-face {
    font-family: 'belleview';
    src: url(/Belleview.otf);
}
h1{
    background-color: rgb(252, 252, 252);
    padding: 3rem;
    font-size: 6rem;
    text-align: center;
    margin: 0;
    color: #0080ff;
    font-family: 'jacob';
    letter-spacing: 6px;
}
.quiz-segment{
    background-color: #0080ff;
    color: #fff;
    margin: 0;
}
.quiz-segment > div, h2{
    /* margin-top: 0rem; */
    padding: 3rem 5rem;
}
h2{
    font-family: 'jacob';
    font-size: 3rem;
    letter-spacing: 4px;
}
p{
    margin-bottom: 1rem;
    font-family: 'belleview';
    font-size: 1.7rem;
    letter-spacing: 4px;
    color: rgb(255, 254, 254);
    font-weight: 500;
}
label{
    font-family: 'belleview';
    font-size: 1.5rem;
    color: rgb(240, 236, 236);
    letter-spacing: 4px;
    margin-left: 1.5rem;
}
input[type = 'radio']{
    margin-bottom: 1rem;
    margin-left: 3rem;
}
#submit{
    margin: 2rem auto;
    width: 85px;
    display: block;
    background-color: rgb(226, 224, 224);
    color: black;
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
    font-family: 'jacob';
    letter-spacing: 3px;
    border: none;
    cursor: pointer;
    outline: none;
}
span{
    color: #0080ff;
    font-size: 4.5rem;
    font-family: 'belleview';
}
.scores{
    display: none;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: 3.5rem;
    font-family: 'jacob';
    background-color: rgb(250, 250, 250);

}